/*home page styled*/
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    /* ... */
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .menu li a {
        display: block;
        padding: 15px 5px;
    }

    .menu li.subitem a {
        padding: 15px;
    }

    .toggle {
        font-size: 20px;
    }

    .item {
        width: 100%;
        text-align: center;
        display: none;
    }

    /* Submenu up from mobile screens */
    .submenu {
        display: none;
    }

    .has-submenu i {
        font-size: 12px;
    }

    .has-submenu > a::after {
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: white;
        padding-left: 5px;
    }

    .subitem a {
        padding: 10px 15px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .item.button {
        width: auto;
        display: block;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media all and (min-width: 960px) {

    nav {
        background: black;
    }

    .menu {
        padding: 1.5em;
        margin: 1.5em;
        color: whitesmoke;
        font-variant: all-small-caps;

        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .submenu {
        display: none;
        list-style-type: none;
    }

    .item {
        position: relative;
        text-align: center;
        display: block;
        width: auto;
    }

    nav ul li:nth-child(1) {
        /* this allows the last flex item to be right justified
            by filling remaining space to the left of the flex item with margin */
        margin-right: auto;
    }
    nav ul li:nth-child(2) {
        /* this allows the last flex item to be right justified
            by filling remaining space to the left of the flex item with margin */
        margin-right: auto;
    }

    nav a {
        text-decoration: none;
        color: white;
        display: inline-block; /* inline-block to increase clickable area beyond the text */
        padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
    }
    nav a:hover {
        background: grey;
    }
/*trying to highlight current page*/
    .menu li.active {
        background-color:green;
    }
    .menu li.active a {
        color:yellow;
        font-weight:bold;
    }

    ul li ul.submenu{
        min-width: 100%; /* Set width of the dropdown */
        background: black;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.submenu{
        display: block; /* Display the dropdown */
    }
    ul li ul.submenu li{
        display: block;
        background: black;
    }

    .headshot-image {
        position: absolute;
        margin-top: -20px;
        height: 150px;
        z-index: 2;
    }

    .img-circle {
        border-radius: 100%;
        border: 4px solid whitesmoke;
    }

    .fun-facts{
        font-size: 30px;
    }
    header, main {
        width: 80%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 1em;
        background: lightslategrey;
    }
    main {
        min-height: 100vh;
        /*
            the following declarations control the layout for all the cards,
            creating a responsive layout
        */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
    }


}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: grey;
    color: white;
    display: flex;
    justify-content: center;
}
.socialicons{
    list-style: none;
    display: flex;
}
.fa {
    position: relative;
    margin: 1.5em;
    text-align: center;
    display: block;
    width: auto;
    color: white;
}
.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(2.0);
}