/*home page styled*/
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    /* ... */
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .menu li a {
        display: block;
        padding: 15px 5px;
    }

    .menu li.subitem a {
        padding: 15px;
    }

    .toggle {
        font-size: 20px;
    }

    .item {
        width: 100%;
        text-align: center;
        display: none;
    }

    /* Submenu up from mobile screens */
    .submenu {
        display: none;
    }

    .has-submenu i {
        font-size: 12px;
    }

    .has-submenu > a::after {
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: white;
        padding-left: 5px;
    }

    .subitem a {
        padding: 10px 15px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .item.button {
        width: auto;
        display: block;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media all and (min-width: 960px) {

    nav {
        background: black;
    }

    .menu {
        padding: 1.5em;
        margin: 1.5em;
        color: whitesmoke;
        font-variant: all-small-caps;

        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .submenu {
        display: none;
        list-style-type: none;
    }

    .item {
        position: relative;
        text-align: center;
        display: block;
        width: auto;
    }

    nav ul li:nth-child(1) {
        /* this allows the last flex item to be right justified
            by filling remaining space to the left of the flex item with margin */
        margin-right: auto;
    }
    nav ul li:nth-child(2) {
        /* this allows the last flex item to be right justified
            by filling remaining space to the left of the flex item with margin */
        margin-right: auto;
    }

    nav a {
        text-decoration: none;
        color: white;
        display: inline-block; /* inline-block to increase clickable area beyond the text */
        padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
    }
    nav a:hover {
        background: grey;
    }

    /*slide show code*/

    * {box-sizing:border-box}
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 50px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
/*trying to highlight current page*/
    .menu li.active {
        background-color:green;
    }
    .menu li.active a {
        color:yellow;
        font-weight:bold;
    }
    /* Caption text */
    .calendar-text {
        color: black;
        font-size: 18px;
        padding: 8px 12px;
        position: absolute;
        bottom: 100px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 25px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        right: 16px;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }


    ul li ul.submenu{
        min-width: 100%; /* Set width of the dropdown */
        background: black;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.submenu{
        display: block; /* Display the dropdown */
    }
    ul li ul.submenu li{
        display: block;
        background: black;
    }

    .headshot-image {
        position: absolute;
        margin-top: -20px;
        height: 150px;
        z-index: 2;
    }

    .img-circle {
        border-radius: 100%;
        border: 4px solid whitesmoke;
    }

    .fun-facts{
        font-size: 30px;
    }
    header, main {
        width: 80%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 1em;
    }
    main {
        min-height: 100vh;
        /*
            the following declarations control the layout for all the cards,
            creating a responsive layout
        */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
    }


}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: grey;
    color: white;
    display: flex;
    justify-content: center;
}
.socialicons{
    list-style: none;
    display: flex;
}
.fa {
    position: relative;
    margin: 1.5em;
    text-align: center;
    display: block;
    width: auto;
    color: white;
}
.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(2.0);
}